@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
//font-family: 'Inter', sans-serif;

.login__wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 380px;
  font-family: 'Inter', sans-serif;

  p {
    text-align: center;
  }
}