.form {
    margin-bottom: 32px;

&__btn {
     width: 100%;
     padding-top: 19px;
     padding-bottom: 19px;
     background-color: #5382E7;
     border-radius: 3px;

     color: #fff;
     font-weight: 500;
 }
}
